<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<connectionStrings>
		<!-- 本地连接：让自己在VS里能登录 -->
		<add name="DefaultConn" connectionString="Data Source=172.16.1.140,1433;Initial Catalog=DB_DiabetesHealthManagement;User ID=sa;Password=18318482923;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>